body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
}

article{
    flex: 2;
    overflow-y: auto;
    color: blue;
}
aside{
    flex: 1;
    overflow-y: auto;
}

table{
    border-style: solid;
    border-width:1px ;
}

